
ChronoJsonDiffPatch/ChronoJsonDiffPatch/obj/

ChronoJsonDiffPatch/ChronoJsonDiffPatchTests/obj/

ChronoJsonDiffPatch/ChronoJsonDiffPatchTests/bin/Debug/net7.0/

ChronoJsonDiffPatch/ChronoJsonDiffPatch/bin/Debug/net7.0/

ChronoJsonDiffPatch/ChronoJsonDiffPatch.sln.DotSettings.user

ChronoJsonDiffPatch/ChronoJsonDiffPatch/bin/Debug/ChronoJsonDiffPatch.xml

*.dll

*.pdb

*.exe

*.xml