ChronoJsonDiffPatch/ChronoJsonDiffPatch/obj/
ChronoJsonDiffPatch/ChronoJsonDiffPatchTests/obj/
ChronoJsonDiffPatch/ChronoJsonDiffPatch/bin/
ChronoJsonDiffPatch/ChronoJsonDiffPatchTests/bin/
ChronoJsonDiffPatch/ChronoJsonDiffPatch.sln.DotSettings.user
ChronoJsonDiffPatch/.claude/

*.dll
*.pdb
*.exe
*.xml