name: Nuget Prerelease

on:
  push:
    tags:
      - prerelease-v*

jobs:
  pushprerelease:
    runs-on: windows-latest
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: "true"
    steps:
      - name: Get current time
        uses: srfrnk/current-time@master
        id: current-time
        with:
          format: YYYYMMDDHHmmss
      - uses: actions/checkout@v6
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.0.100
      - uses: olegtarasov/get-tag@v2.1
        id: tagChrono
        with:
          tagRegex: "prerelease-v(\\d+\\.\\d+\\.\\d+)"
      - name: Build/Check for compile errors (dotnet build)
        working-directory: "ChronoJsonDiffPatch"
        run: dotnet build --configuration Release
      - name: Run Unit Tests (dotnet test)
        working-directory: "ChronoJsonDiffPatch"
        run: dotnet test --configuration Release
      - name: Create Package ChronoJsonDiffPatch (dotnet pack)
        working-directory: "ChronoJsonDiffPatch/ChronoJsonDiffPatch"
        run: dotnet pack ChronoJsonDiffPatch.csproj --configuration Release -p:PackageVersion="${{ steps.tagChrono.outputs.tag }}-beta${{ steps.current-time.outputs.formattedTime }}"
      - name: Setup Nuget.exe
        uses: warrenbuckley/Setup-Nuget@v1
      - name: Nuget push ChronoJsonDiffPatch
        working-directory: "ChronoJsonDiffPatch/ChronoJsonDiffPatch"
        # https://github.com/Hochfrequenz/chrono_json_diff_patch/settings/secrets/actions/NUGET_ORG_PUSH_TOKEN
        # expires 2024-02-02
        run: |
          nuget setApiKey ${{ secrets.NUGET_ORG_PUSH_TOKEN }}
          nuget push .\bin\Release\*.nupkg -Source https://api.nuget.org/v3/index.json -SkipDuplicate -NoSymbols
